# Dependencies
node_modules/
.pnp/
.pnp.js

# Environment variables
.env

# Configuration files
tsconfig.json
tsconfig.node.json
vite.config.ts
.eslintrc.js

# Lock files
package-lock.json
yarn.lock

# Miscellaneous
.DS_Store
.vscode/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
